* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    background-color: #f3f3f3;
}

.control {
    height: 6em;
}

.control-setting {
    height: 5em;
}

.button {
    cursor: pointer;
}

.active-button {
    filter: drop-shadow(2px 2px 4px #5f80a1);
}

/* Stopwatch */

/*---- Body ----*/
#stopwatch-body {
    width: 20em;
    min-height: 25em;
    background: radial-gradient(white, #77a0ca);
    border-radius: 3em;
    padding: 1em;
}

/*---- Screen ----*/
#screen-container {
    display: flex;
    justify-content: center;
}
#stopwatch-screen {
    width: 18em;
    height: 18em;
    background-color: #fff;
    border-radius: 50%;
    border: 1em solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/*---- Main Display ----*/
#main-display1 {
    font-size: 3em;
}

#main-display2 {
    font-size: 2.3em;
}

/*---- Counter Display ----*/
#counter-display {
    position: absolute;
    bottom: .8em;
    font-size: 2em;
}   
/*---- Controls ----*/
#stopwatch-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

/* Tune */
#stopwatch-tune {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 20em;
    height: fit-content;
    gap: 1em;
    background: radial-gradient(white, #77a0ca);
    padding: 1.5em;
    border-radius: 1em;
    position: absolute;
    filter: drop-shadow(0 5px 4px #000000);
    top: 24%;
    transform: translateY(-24%);
    transition: 1.5s;
}

.close {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

#cog {
    height: 2em;
    cursor: pointer;
}

#cog:hover {
    opacity: .8;
}

#close-icon {
    height: 2em;
    cursor: pointer;
}

#close-icon:hover {
    opacity: .5;
}

.tune-btn {
    border: none;
    padding-block: 1em;
}

.yellow {
    background-color: #fed966;
}

.green {
    background-color: #92c47d;
}

.tune-title {
    margin-bottom: .2em;
}

.body-tunes-container {
    display: flex;
    gap: 1em;
}

.input {
    width: 5em;
    padding-block: .5em;
    padding-inline: .2em;
}

#update, #save {
    cursor: pointer;
    grid-column: span 2;
}

#update:hover, #save:hover {
    opacity: .8;
}

.closeSlide {
    transition: 1.5s !important;
    transform: translateY(-200%) !important;
}